.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 80px;
    padding: 32px 24px 36px;
}

.header-profile {
    display: flex;
    flex-direction: column;
    max-width: 624px;
    min-height: 140px;
    margin-bottom: 20px;
}

.info-user {
    display: flex;
}

.avatar-profile {
    max-width: 116px;
    width: 116px;
    height: 116px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.infor {
    flex: 1;
}

.nickname {
    font-family: var(--font-secondary);
    font-weight: var(--fw-bold);
    font-size: 3.2rem;
    line-height: 4rem;
    color: var(--primary-color);
}

.username {
    min-height: 30px;
    font-weight: var(--fw-semibold);
    font-size: 1.8rem;
    line-height: 3rem;
    color: var(--primary-color);
}

.btn-update {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 36px;
    min-width: 136px;
    margin-top: 10px;
    padding: 0 16px;
    font-weight: var(--fw-semibold);
    font-size: 1.6rem;
    background-color: var(--btn-color);
    border-color: var(--bd-color-btn); //
    color: var(--primary-color); //

    &:hover {
        background-color: var(--hover-btn-color);
        border-color: var(--line-border-color);
    }
}

.btn-follow {
    min-width: 208px;
    padding: 6px 8px;
    font-weight: var(--fw-semibold);
    font-size: 1.8rem;
    background-color: var(--red-color); //
    color: var(--white-color); //

    &:hover {
        border: transparent;
        background: var(--bg-primary-hover);
    }
}

.container-btn {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.btn-message {
    min-width: 164px;
    margin-top: 0;
    margin-right: 8px;
    font-weight: var(--fw-semibold);
    font-size: 1.8rem;
    border-color: var(--red-color); //
    background-color: var(--bg-wrapper-btn); //
    color: var(--red-color); //

    &:hover {
        border-color: var(--red-color);
        background: var(--bg-color-hover);
    }
}

.btn-unfollow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-color: var(--bd-primary-color); //
    background-color: var(--bg-wrapper-btn);
    color: var(--primary-color); //

    &:hover {
        background: var(--hover-items-color);
    }
}

.update-icon {
    margin-right: 6px;
}

.count-info {
    display: flex;
    gap: 20px;
}

.count-title {
    margin-top: 22px;
    font-weight: var(--fw-bold);
    font-size: 1.8rem;
    color: var(--primary-color); //
    line-height: 2.4rem;

    .title {
        font-size: 1.6rem;
        font-weight: var(--fw-regular);
        margin-left: 6px;
        color: var(--tertiary-color); //; // //
    }
}

.user-bio {
    margin-top: 10px;
    font-weight: var(--fw-regular);
    font-size: 1.6rem;
    color: var(--primary-color); //
    line-height: 2.1rem;
}

.link-title {
    display: flex;
    flex-direction: column;
    height: 22px;
    margin-top: 6px;
}

.link-text {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: var(--fw-semibold);
    font-size: 1.6rem;
    color: var(--red-color); //

    &:hover span {
        text-decoration: underline;
    }
}
