.wrapper-menu {
    position: absolute;
    z-index: 10;
}

.list-menu {
    width: 181px;
    border-radius: 8px;
    background: var(--bg-theme);
    opacity: 0.95;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 32px;
}

.list-item {
    display: flex;
    justify-content: flex-start;
    padding: 10px 12px;
    gap: 12px;
    list-style: none;
    color: var(--primary-color);
    cursor: pointer;

    &:hover {
        background: var(--hover-items-color); //
    }
}

.list-item:first-child {
    border-radius: 8px 8px 0 0;
}

.list-item:last-child {
    border-radius: 0 0 8px 8px;
}

.title-menu {
    font-family: var(--font-tertiary);
    font-weight: var(--fw-semibold);
    font-size: 1.4rem;
    line-height: 1.7rem;
}