.wrapper-actions {
    position: fixed;
    bottom: 0;
    right: 24px;
    margin-bottom: 8px;
    transform: translateY(40px);
    transition: all 400ms cubic-bezier(0.65, 0, 0.35, 1) 0s;
    z-index: 10;
}

.div-installer {
    position: relative;
}

.btn-getApp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    margin-bottom: 12px;
    font-family: "IBM Plex Sans", TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    background: #fff;
    border-color: #1618231f;
    border-radius: 52px;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
    color: #161823bf;
    transform: scale(0);
    transition: all 0.3s cubic-bezier(0.4, 0.14, 0.3, 1) 0s;
    transform-origin: bottom right;
}

.installer-wrapper {
    position: absolute;
    right: -1px;
    bottom: -1px;
    display: flex;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    border-radius: 8px;
    border: 1px solid #16182308;
    transform: scale(0);
    transition: all 0.3s cubic-bezier(0.4, 0.14, 0.3, 1) 0s;
    transform-origin: bottom right;
}

.close-animate {
    transform: scale(1);
}

.separate {
    position: relative;
    left: 8px;
    display: block;
    width: calc(100% - 16px);
    height: 1px;
    background: #1618231f;
}

.btn-install {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 6px 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.name-method {
    margin-left: 8px;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.1rem;
}

.container-btn {
    margin: 0 48px 0 16px;
}

.xmark {
    position: absolute;
    top: 16px;
    right: 16px;
}

.btn-close {
    font-size: 2rem;
    color: #161823;
}

.div-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-scrolling {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fe2c55;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    text-align: end;
    color: #fff;
}