.wrapper-modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: var(--bg-theme);
}

//VIDEO

.container-videos {
    position: relative;
    flex: 1 0 600px;
    width: 600px;
    height: 100%;
    max-width: 100%;
    background: var(--bg-player-color); //
}

.wrapper-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-videoplayer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10%;
    height: 10%;
    transform: scale(11);
    opacity: 0.3;
    background-position: center;
    background-size: cover;
    filter: blur(2px);
}

.wrapper-video {
    position: relative;
    width: 100%;
    height: 100%;
}

.bar-progress {
    position: absolute;
    bottom: 28px;
    left: 50%;
    display: flex;
    align-items: center;
    height: 24px;
    width: calc(100% - 250px);
    max-width: 56.25vh;
    padding: 0 16px;
    transform: translate(-50%, 0);
}

.time-line {
    flex: 0 0 88px;
    display: block;
    width: 88px;
    margin-left: 8px;
    font-family: Tahoma, PingFangSC, sans-serif;
    font-weight: var(--fw-regular);
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--white-color); //
    text-align: end;
}

.slider-container {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.card-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.close-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--white-color); //
}

.directional {
    position: absolute;
    top: 50%;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transform: translate(0, -50%);
}

.sound {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.btn-direction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(84, 84, 84, 0.5019607843);
    color: var(--white-color); //

    &:disabled {
        background-color: transparent !important;
    }

    &:hover {
        background: rgba(37, 37, 37, 0.6);
        opacity: 0.7;
    }

    &:active {
        opacity: 0.5;
    }
}

.btn-prev {
    transform: rotate(-90deg);
}

.btn-next {
    transform: rotate(90deg);
}
