.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 48px 0 0;
    overflow: auto;
}

.body {
    flex: 1;
    overflow: auto;
}

.main-form {
    width: 375px;
    margin: 0 50px;
}

.title {
    font-family: var(--font-secondary);
    margin: 16px 0;
    font-size: 3.2rem;
    color: var(--primary-color); //
    text-align: center;
}

.channel-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 16px;
    padding: 0px 12px;
    height: 44px;
    font-weight: var(--fw-semibold);
    font-size: 1.5rem;
    background-color: var(--bg-wrapper-btn); //
    border: 1px solid var(--bd-color-btn); //
    color: var(--primary-color); //
    cursor: pointer;

    &:hover {
        border-color: var(--line-border-color);
        background-color: var(--hover-btn-color);
    }
}

.icon {
    position: absolute;
    left: 12px;
    display: flex;
}

.text {
    font-size: 1.5rem;
}

.policy {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 16px 30px;
    line-height: 1.5rem;

    p {
        margin: 0 30px;
        color: var(--quaternary-color); //
        font-size: 1.2rem;
    }
}

.footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20.25px 0;
    text-align: center;
    border-top: 0.5px solid var(--separate-color); //
}

.advice {
    color: var(--primary-color); //
    font-size: 1.5rem;
}

.to {
    margin-left: 5px;
    color: var(--red-color); //
    font-weight: var(--fw-semibold);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.back {
    position: absolute;
    top: 25px;
    left: 17px;
    cursor: pointer;
}

.back-btn {
    color: var(--primary-color);
    width: 2.4rem;
    height: 2.4rem;
}

.login-inner {
    position: relative;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    height: 100%;
    flex: 1;
    overflow-y: auto;
}

.des-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.type {
    font-weight: var(--fw-semibold);
    font-size: 1.45rem;
    color: var(--primary-color); //
}

.link {
    font-weight: var(--fw-semibold);
    font-size: 1.2rem;
    color: var(--tertiary-color); //; // //
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: var(--primary-color); //
    }
}

.container-form {
    margin-bottom: 9px;
}

.form-input {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background: var(--bg-form-input); //
    border: 1px solid var(--bd-color-btn); //
    
    input {
        display: block;
        font-weight: var(--fw-regular);
        font-size: 1.6rem;
        padding: 0 24px 0 12px;
        height: 44px;
        width: 100%;
        color: var(--primary-color); //
        background-color: transparent;
    }

    input[type="password"] {
        padding-right: 50px;
    }
}

.control-pass {
    position: absolute;
    top: 25%;
    right: 14px;
    color: #8d8e94;
    cursor: pointer;
}

.forgot {
    font-weight: var(--fw-semibold);
    font-size: 1.2rem;
    color: var(--tertiary-color); //; // //

    &:hover span {
        color: var(--primary-color); //
        text-decoration: underline;
        cursor: pointer;
    }
}

.btn-submit {
    min-height: 48px;
    margin-top: 21px;
    width: 100%;
    color: var(--white-color);
}

.loading {
    animation: var(--animation-loading);
}