.wrapper-form {
    width: 100%;
    height: 100%;
}

.form-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.form-group {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 9px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--bg-form-input); //

    &.focused {
        border-color: var(--bd-form-color);
    }
}

.form-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 10px 8px 10px 0;
}

.current-length {
    display: none;
    margin-top: 10px;
    font-family: var(--font-tertiary);
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--tertiary-color); //; // //
}

.text-form {
    width: 100%;
    height: 100%;
    font-weight: var(--fw-regular);
    font-size: 1.4rem;
    color: var(--primary-color); //
    line-height: 1.8rem;
    background: transparent;
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
}

.emoji-container {
    position: relative;
    margin: 3px;
}

.emoji-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background: transparent;
    color: var(--primary-color);

    &.active {
        background-color: var(--line-items-color); //
    }

    &:hover {
        background-color: var(--line-items-color); //
    }
}

.group-emoji {
    position: absolute;
    top: -304px;
    right: 0;
    width: 368px;
    height: 300px;
    background: var(--bg-theme); //
    box-shadow: var(--bg-shadow-color);
    border-radius: 8px;
    z-index: 2;
}

.list-emojies {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.list-emojies::-webkit-scrollbar {
    width: 4px;
    border-radius: 0;
}

.list-emojies::-webkit-scrollbar-thumb {
    background: #e6d5d5;

    &:hover {
        background: #79797C;
    }
}

.emoji-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 5px 6px;
    font-size: 2.5rem;
    background: var(--bg-theme); //
    border-radius: 8px;
    list-style: none;
    cursor: pointer;

    &:hover {
        background-color: var(--bg-btn-actions); //
    }
}

.btn-post {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 48px;
    width: 48px;
    margin-right: 4px;
    font-family: var(--font-tertiary);
    font-weight: var(--fw-semibold);
    font-size: 1.4rem;
    color: var(--red-color);

    &:disabled {
        background: transparent !important;
    }
}