.menu-lists {

    .menu-items {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 0;
        min-height: 41px;
        width: 100%;
        margin-left: 0 !important;
        padding: 0 16px;
        font-weight: var(--fw-semibold);
        color: var(--primary-color);

        &:hover {
            background-color: var(--hover-items-color); //;
        }

        &.separate {
            border-top: 1px solid var(--line-items-color); //
        }
    }

    .lan-btn {
        font-weight: var(--fw-regular);
        font-size: 1.4rem;
    } 
}


.menu-scroll{
    max-height: 590px;
    overflow-y: auto;
}

.header-menu {
    position: relative;
    display: flex;
    padding: 14px 16px;
    color: var(--primary-color);
}

.back-btn {
    background-color: transparent;
    font-size: 1.7rem;
    color: currentColor;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
}