.container-detailvideo {
    margin-left: 80px;
}

.container {
    display: flex;
    margin: 0 24px;
    padding: 24px 0;
}

.videoplayer-container {
    position: relative;
    flex: 1 1 768px;
    width: 100%;
    height: 100%;
    margin-right: 24px;
}

.sidebar-videos {
    flex: 0 0 362px;
}

.videoplayer-detail {
    position: relative;
    width: 100%;
    height: 606px;
    background-color: #000;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}

.background-videoplayer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10%;
    height: 10%;
    transform: scale(11);
    opacity: 0.3;
    background-position: center;
    background-size: cover;
    filter: blur(2px);
}

.videoplayer-controller {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.slider-controller {
    position: relative;
    display: flex;
    align-items: center;
    height: 4px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.34);

    &:hover {
        height: 6px;
    }
}

.input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
    }
}

.input-slider {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    pointer-events: none;
}

.input-thumb {
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    pointer-events: none;
}

.videoplayer-ended {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 100;
}

.play-again {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-width: 3px;
    border-color: #fff;
    background-color: transparent;
}

.controller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    width: 100%;
    margin: 15px 0;
    padding: 0 20px;
}

.left-controller,
.right-controller {
    display: flex;
    align-items: center;
    -webkit-column-gap: 20px;
    gap: 20px;
    color: #fff;
}

.right-controller {
    position: relative;
}

.speed-value {
    transition: all 0.35s linear;
}

.wrapper-items {
    position: absolute;
    left: -35px;
    bottom: 45px;
    background-color: rgb(27, 27, 27);
}

.items-speed {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    padding: 0 16px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: #fff;
    cursor: pointer;

    &:hover {
        background: rgba(255, 255, 255, 0.08) !important;
    }
}

.control-speed {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.1rem;
    cursor: pointer;
}

.videoplayer-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.poster {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    // visibility: hidden;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info-detail {
    border-radius: 0 0 12px 12px;
    padding: 16px;
    background-color: #16182308;
}

.user-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 16px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-avatar {
    min-width: 48px;
    width: 48px;
    height: 48px;
    margin-right: 12px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.name-user {
    display: flex;
    flex-direction: column;
}

.nickname {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.username {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #161823bf;
}

.description {
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #161823;
}

.info-music {
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-size: 1.4rem;
    line-height: 2.1rem;
}



//COMENT CONTENT

.comment-content {
    margin-top: 24px;
}

.comment-title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: #161823;
}

.comment-total {
    margin-right: 4px;
}

.post-content{
    display: flex;
    margin-top: 16px;
}

.avatar-user {
    width: 48px;
    height: 48px;
    margin-right: 12px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.post-form {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.form-input {
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    
    textarea {
        width: 100%;
        height: 100%;
        padding: 11px 8px;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #161823;
        background-color: #1618230f;
        border-radius: 8px;
        border: 1px solid transparent;
        outline: none;
        overflow: hidden;
        resize: none;
    }

    .form-edit-textarea {
        max-width: 100%;
        width: 100%;
        padding: 11px 8px;
        min-height: 48px;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #161823;
        background-color: #1618230f;
        border-radius: 8px;
        border: 1px solid transparent;
        outline: none;
        white-space: wrap;
        overflow: hidden;
    }
}

.btn-post {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 48px;
    font-weight: 600;
    font-size: 1.6rem;

    &:disabled {
        background-color: transparent;
    }
}

.list-container {
    margin-top: 24px;
    
    .loading-content {
        width: 100%;
    }
}
