//COMMENTS
.container-comments {
    display: flex;
    flex-direction: column;
    flex: 0 0 544px;
    width: 544px;
    height: 100%;
    background: var(--bg-theme);
}

.header {
    margin: 0 20px;
}

.container-info {
    margin-top: 26px;
    padding: 16px;
    border-radius: 12px;
    background: var(--hover-items-color); //
}

.info-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.user {
    display: flex;
    margin-right: 12px;
}

.avatar-user {
    width: 40px;
    height: 40px;
    margin-right: 12px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.nickname-head {
    font-size: 1.8rem;
    font-weight: var(--fw-bold);
    line-height: 2.4rem;
    color: var(--primary-color); //
}

.name {
    line-height: 1.8rem;
}

.username,
.time {
    font-weight: var(--fw-regular);
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--primary-color); //
}

.container {
    min-width: 200px;
    padding: 8px 16px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

.video-setting {
    padding: 13px;
    font-weight: var(--fw-semibold);
    font-size: 1.6rem;
    color: var(--primary-color); //

    &:hover {
        color: var(--red-color); //
    }
}

.video-delete {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        display: block;
        background: var(--separate-color);
    }
}

.btn-follow {
    display: flex;
    align-items: center;
    border-radius: 1px;
    font-weight: var(--fw-semibold);
    height: 36px;
    color: var(--white-color);

    &:hover {
        background: var(--bg-primary-hover);
    }

    &.btn-unfollow {
        background-color: var(--bg-wrapper-action); //
        border-color: var(--separate-color); //
        color: var(--primary-color); //

        &:hover {
            background-color: var(--hover-bg-color); //;
            border-color: var(--hover-bd-content); //
        }
    }
}

.btn-more {
    background-color: transparent;
    color: var(--primary-color);
}

.info-description {
    font-weight: var(--fw-semibold);
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: var(--primary-color); //
}

.info-music {
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-size: 1.4rem;
    gap: 4px;
    color: var(--primary-color);
}

.container-actions {
    margin: 16px 12px 0;
}

.action-video {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.handler,
.apps-share {
    display: flex;
    align-items: center;
}

.apps-share {
    gap: 8px;
}

.share-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.actions {
    display: flex;
    align-items: center;
}

.actions + .actions {
    margin-left: 20px;
}

.btn-action {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: var(--bg-btn-actions); //
    color: var(--tertiary-color);
}

.counts {
    font-weight: var(--fw-bold);
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--tertiary-color); //; // //
}

.loading {
    animation: var(--animation-loading);
}

aside {
    flex: 1;
}

.footer-comments {
    position: relative;
    padding: 21px 0;
    border-top: 1px solid var(--bd-content-color);
}

.container-footer {
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.action-coppy {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 1.4rem;
    height: 34px;
    border-radius: 8px;
    border: 1px solid var(--bd-color-btn); //
    overflow: hidden;
}

.link {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
    padding-left: 12px;
    background-color: var(--bg-form-input); //
    color: var(--tertiary-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn-coppy {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 100px;
    padding: 7px 18px;
    border-radius: 0;
    font-weight: var(--fw-bold);
    font-size: 1.4rem;
    background-color: var(--bg-disabled-color);
    color: var(--primary-color); //
    border: none;

    &:hover {
        background-color: var(--hover-items-color); //
    }
}

// CONTENT

.content {
    overflow-y: auto;
}

.content-container {
    margin: 0 32px;
}

.tab-wrapper {
    position: sticky;
    top: 0;
    height: 50px;
    margin-bottom: 24px;
    background: var(--bg-theme);
    z-index: 10;
}

.tab-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 18px;
    border-bottom: 2px solid var(--primary-color); //
}

.tab-title {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: var(--fw-bold);
    font-size: 1.4rem;
    line-height: 2.4rem;
    cursor: pointer;
    color: var(--primary-color); //
}
